.mainFooter{
    position: relative;
}


.container{
    margin-top: 20px;
    height: 350px;
    background: #002A39;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: start;
        
}
.row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    align-items: center;


}
.foot{
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    width: 100%;
    justify-content: center;
    justify-content: space-evenly;

}
.col{
    margin: 30px;
    align-self: start;
}
.col p{
    margin-top: 20px;
}

.col1{
    max-width: 22em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }

.col1 img{
    max-width: 200px;
}
.icons{
    display: flex;
    flex-direction: row;

}
.icons i{
    font-size: 20px;
    margin: 10px;
}
.icons i:hover{
    cursor: pointer;
    color: #FFBB00;

}

.col2{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    font-family: 'Inter';


}
.col2 a{
    text-decoration: none;
    color: white;
    margin-top: 10px;
}
.col2 a:hover{
    text-decoration: underline;
    color: #FFBB00;
}

.col3{
    display: flex;
    flex-direction: column;
    font-family: 'Inter';

}
.col3 a{
    text-decoration: none;
    color: white;
    margin-top: 10px;


}
.col3 a:hover{
    text-decoration: underline;
    color: #FFBB00;
}
.col4{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col4 a{
    text-decoration: none;
    color: white;
    margin-top: 10px;


}

.col4 a:hover{
    text-decoration: underline;
    color: #FFBB00;
}