@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container{
    background-color: #F4F1EB;
    display: flex;
    flex-direction: row;
    height: 550px;
    padding: 0 50px 0 50px;
    margin-bottom: -80px;

}
.imgPanel{
    position: absolute;
    height: 315px;
    max-width: 100%;
    z-index: 4;
    margin-left: 80px;
    margin-top: 40px;
}
.imgHeroCSS{
    position: absolute;
    z-index: 10;
    margin-right: 60px;
    max-width: 100%;
    height: 400px;
    z-index: 1;

}

.izquierda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding: 80px;
    margin-right: 20px;
    max-width: 750px;
}

.izquierda h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 52px;
    color: #002A39;
    text-align: start;
    margin-bottom: 20px;

}
.izquierda h4{
    font-family: 'Inter';
    text-align: start;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 30px;
    color: #002A39;
    margin-bottom: 20px;


}

.izquierda button{
    
    width: 22em;
    margin-right: 10px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    padding: 18px 0px;
    letter-spacing: 0.1em;
    overflow: hidden;
    font-weight: 500;
    color: #fff;
    background-color: #FFBB00;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-out 0s;
}
.izquierda button:hover{
    background-color: #74C8DB;
    box-shadow: 0px 5px 10px rgba(0, 102, 153, 0.3);
    color: #fff;
    transform: translateY(-3px);
    cursor: pointer;
}


.imgHeroHombre{
    position: absolute;
    max-width: 490px;
    z-index: 10;
    margin-right: 60px;

}

.LogoDecoCSS{
    position: absolute;
    width: 500px;
    opacity: 30%;
    padding: 20px;
    filter: blur(0px);
    z-index: 0;

}


.derecha{
    margin-top: 80px;
    display: block;
    align-items: center;
    justify-content: center;


}

