.login-form {
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  padding: 5rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0.2945553221288515) 100%
  );
}

.login-form input {
  margin-top: 5%;
}

.login-form button {
  margin-top: 5%;
}

.cont_log {
  background-image: url('https://res.cloudinary.com/daieynebb/image/upload/v1677623063/Fondos/hero1_ls6dvu.png');
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* .login-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.login-form label {
  margin-bottom: 5px;
}

.login-form input[type='email'],
.login-form input[type='password'] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.login-form button[type='submit'] {
  padding: 8px 16px;
  border-radius: 3px;
  background-color: #008cba;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.login-form button[type='submit']:hover {
  background-color: #006e8c;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

input {
  margin-bottom: 10px;
  width: 400x;
}

 */
