.nav {

  display: flex;
  width: 100%;
  height: 50px;
  font-family: "inter";
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: #F4F1EB;
}
.img img{
  margin: -20px;
  max-height: 40px;
}

.nav1 {

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 90px;
  height: 50px;
  font-family: "inter";
  align-items: center;

}

.nav1 a {
  margin: 20px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #002A39;
  font-weight: bold;
}

.nav1 a:hover {

  text-decoration: underline;
  font-weight: bolder;
  cursor: pointer;
}


.nav2 {

  display: flex;
  justify-content: center;
  height: 50px;
  margin-right: 90px;
  align-items: center;
}

.nav2 button {
  margin: 20px;
  max-width: 110px;
  height: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.button1 {
  width: 10em;
  margin-right: 8px;
  margin-bottom: 20px;
  font-family: "inter";
  font-size: 11px;
    overflow: hidden;
  font-weight: 500;
  color: #fff;
  background-color: #FFBB00;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-out 0s;
  padding: 10px 0px;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}

button:hover {

  box-shadow: 0px 5px 10px rgba(0, 102, 153, 0.3);
  color: #fff;
  transform: translateY(-3px);
  cursor: pointer;
}

.button2 {
  display: flex;
  width: 10em;
  margin-right: 8px;
  margin-bottom: 20px;
  font-family: "inter";
  font-size: 11px;
  overflow: hidden;
  font-weight: 500;
  color: #fff;
  background-color: #74C8DB;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-out 0s;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;

  
}




.nav2 .cart {
  color: white;
  background-color: #FFBB00;
  width: 35px;
  height: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-out 0s;
  cursor: pointer;



}

.nav2 .cart a {
  text-align: center;
  text-decoration: none;
  color: white;
}

.nav2 .cart a:hover {
  color: #74C8DB;
  transition: all 0.3s ease-out 0s;
}