/* .form-newpassword{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
} */

.form-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 30px;
}

.form-section p {
    margin-bottom: 0;
}

.form-title{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.form-title small {
    color: #002A39;
    /* font-weight: 30 0; */
}

.form-input{
    display: block;
    border-radius: 5px 0 0 5px;
    border: 1px solid #d2e3da;
    padding: 10px 10px;
    outline: none;
    font-weight: 600;
    border-right: none;
    cursor: pointer;
    width: 35%
}




.form-input:hover{
    border: 1px solid #92b6b1;
}

.form-input::placeholder{
    color: #7C98A7;
    font-weight: 400;
    font-size: small;
}

.form-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.form-body span {
    cursor: pointer;
    border: 1px solid #d2e3da ;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    border-left: none;
}

.form-body span:hover{
    border: 1px solid #92b6b1;
    
}

.form-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.btn-password{
    font-weight: bold;
    padding: 10px;
    width: 40%;
}