.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerHero{
  display: flex;
  flex-direction: column;
  background-image: url("https://res.cloudinary.com/daieynebb/image/upload/v1678188590/Fondos/products-hero1_d7rjoh.png");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.containerText{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  align-items: end;
  justify-content: center;
  font-family: 'inter';
}

.containerText .h1{
  color: var(--azul);
  font-weight: 900;
  text-align: right;
  font-size: 45px;
  margin: 0 150px 20px 0;
  width: 400px;
}

.containerText .h4{
  color: var(--azul);
  font-weight:500;
  text-align: right;
  font-size: 21px;
  margin: 0 150px 20px 0;
   width: 550px;
  text-align: right;
}

.containerText .p{
  color: var(--azul);
  font-weight: light;
  text-align: right;
  font-size: 18px;
  margin: 0 150px 20px 0;
  width: 550px;
}

.containerButton{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 100%;
  margin: 0 150px 20px 0;


}

.containerButton .button1 {
  width: 12em;

  margin-bottom: 0;

  overflow: hidden;

  font-family: "inter";
  font-size: 15px;
  font-weight: 600;

  color: #fff;
  background-color: var(--verde);

  border: none;

  border-radius: 3px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-out 0s;

  padding: 10px 0px;

}
.containerButton .button1:hover {
  cursor: pointer;
  background-color: var(--amarillo);


}
.miniBannerContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.miniBanner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 20px 0px;
  width: 14rem;
  height: 90px;
  border: 1px solid rgb(201, 201, 193);
}

.miniBanner i{
  color: var(--verde);
  font-size: 18px;
  margin: 20px 0px 10px 0px;
}
.miniBanner .h6{
  color: var(--azul);
  font-size: 15px;
}

.miniBanner .p1{
  color: var(--azul);
  font-size: 11px;
  text-align: center;
}

.BannerContainer{
  width: 70%;
  height: 250px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 20px;


}

.banner1{
  width: 400px;
  height: 200px;
  background-image: url("https://res.cloudinary.com/daieynebb/image/upload/v1678204312/Fondos/ecologico1_bnrhoz.png");
  margin: 0px 40px 0 40px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.banner2{
  width: 400px;
  height: 200px;
  background-image: url("https://res.cloudinary.com/daieynebb/image/upload/v1678204312/Fondos/ecologico2_Mesa_de_trabajo_1_ctrynh.png");
  margin: 0px 40px 0 40px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}


.searchContainer{
  width: 100%;
  margin: 20px 0 20px 0;
}

.titulo{
  font-size: 30px;
  text-decoration: underline wavy var(--verde);
  text-decoration-thickness: 3px;
  text-underline-offset: 0.3em;
  text-decoration-color: var(--verde);
  margin: 20px 0 20px 0;
  font-weight: bold;
}

.newsLatterContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
}

.newsLatter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://res.cloudinary.com/daieynebb/image/upload/v1678230791/Fondos/newsletter_Mesa_de_trabajo_1_z0iz4w.png");
  height: 200px;
  width: 60%;
  color: #fff;
  background-size: cover;
}

.newsLatterContainer .h5{
  font-weight: bold;
  font-size: 30px;
}

.newsLatterContainer .p{
  font-size: 18px;
}

.inputCont{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.inputCont .input{
  margin: 10px;
}

.inputCont i{
  margin: 10px;
  font-size: 25px;
  
}

.inputCont i:hover{
  margin: 10px;
  font-size: 27px;
  color: var(--amarillo);
  transition: 0.2s;
}

.input{
    font-family: 'inter';
    color: #333;
    font-size: 0.8rem;
    margin: 0 auto;
    padding: 5px 20px 0 20px;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width:60%;
    height: 30px;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    align-items: center;
  }
  
  .input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }

  .inputCont .buttonsubmit{
    background-color: transparent;
    border: none;
    color: var(--amarillo);
  }

  .inputCont label{
    font-family: 'inter';
    font-weight: bolder;
    width: 100px;

  }










/* ------------------- 1920 MEDIAS ----------------- */
/* ------------------- MEDIAS 1920 ----------------- */

@media(min-width:1920px){
  .containerHero{
    width: 100%;
    height: 600px;
  }
  .containerText{
    width: 100%;
    height: 700px;
  }
  .containerText .h1{
    color: var(--azul);
    font-weight: 900;
    text-align: right;
    font-size: 52px;
    margin: 0 250px 30px 0;
    width: 600px;
  }  
  .containerText .h4{
    color: var(--azul);
    font-weight:500;
    text-align: right;
    font-size: 28px;
    margin: 0 250px 30px 0;
     width: 650px;
    text-align: right;
  }  
  .containerText .p{
    color: var(--azul);
    font-weight: light;
    text-align: right;
    font-size: 25px;
    margin: 0 250px 30px 0;
    width: 550px;
  }
  .containerButton{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 100%;
    margin: 0 250px 20px 0;
  
  
  }  
  .containerButton .button1 {
    width: 13em;
  
    margin-bottom: 0; 

    font-size: 21px; 
  
  }

  .miniBannerContainer{
  }
  
  .miniBanner{
    margin: 70px 0px 50px 0px;
    width: 20rem;
    height: 160px;
  }

  .miniBanner i{
    color: var(--verde);
    font-size: 35px;
    margin: 20px 0px 20px 0px;
  }
  .miniBanner .h6{
    color: var(--azul);
    font-size: 25px;
  }
  
  .miniBanner .p1{
    color: var(--azul);
    font-size: 21px;
    text-align: center;
  }

  
.BannerContainer{
  width: 80%;
  height: 250px;
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
}


.banner1{
  width: 600px;
  height: 300px;
  margin: 0px 40px 0 40px;
  border-radius: 10px;
}

.banner2{
  width: 600px;
  height: 300px;
  margin: 0px 40px 0 40px;
  border-radius: 10px;
}

.titulo{
  font-size: 60px;
  text-decoration: underline wavy var(--verde);
  text-decoration-thickness: 6px;
  text-underline-offset: 0.3em;
  text-decoration-color: var(--verde);
  margin: 20px 0 40px 0;
}
  
}

/* ------------------- 1920 MEDIAS ----------------- */
/* ------------------- MEDIAS 1920 ----------------- */






