@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:wght@400;700&family=Lobster&family=Tilt+Warp&display=swap');

.container {
  position: relative;
  margin: 30px;
  padding: 15px;
  width: 1300px;
  background-color: #e8f9fe;
  border: 2px solid #047a95;
  border-radius: 10px;
}

.container h1 {
  font-family: Lobster;
  color: #ffbb00;
  /* -webkit-text-stroke: 1px #005b6f; */
}

.contTable {
  /* overflow-x: scroll; */
  max-height: 700px;
  border-radius: 10px;
}
.table {
  min-width: max-content;
}
.table th {
  position: static;
  top: 0px;
  background-color: #0291b1;
}
.table th,
td {
  border: 1px solid #047a95;
}
.tHead {
  color: rgb(255, 255, 255);
  padding: 5px;
  font-family: Tilt Warp;
  font-weight: 400;
  font-size: 19px;
}

.tBody {
  background-color: #74c8db;
  color: rgb(95, 95, 95);
}
.tBody td {
  color: rgb(242, 249, 255) !important;
  font-family: Cabin !important;
}

.table hr {
  height: 8px;
}
.tBody button {
  position: relative;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  background-image: url(../../borrar.png);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  left: 21px;
  top: 4px;
  transition: 0.4s;
}

.crear {
  position: relative;
  margin-top: 30px;
  display: flex;
  gap: 15px;
}
.crear button {
  position: absolute;
  top: 1px;
  border: none;
  border-radius: 5px;
  width: 250px;
  height: 50px;
  background-color: #ffbb00;
  color: white;
  font-family: Cabin;
  font-weight: 700;
  font-size: 20px;
  transition: 0.4s;
}

.crear button:active {
  background-color: #fcd362;
}
.crear h1 {
  font-family: Tilt Warp;
  color: #047a95;
}
.container .pagination {
  position: absolute;
  right: 55px;
  top: 20px;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  /* flex-direction: row; */
}

.next {
  width: 32px;
  height: 32px;
  border-radius: 30px;
  background-color: transparent;
}
.prev {
  width: 32px;
  height: 32px;
  border-radius: 30px;
  background-color: transparent;
}

.next {
  background-image: url(../../next-button.png);
  background-repeat: no-repeat;
}
.prev {
  background-image: url(../../previous.png);
  background-repeat: no-repeat;
}
