@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

.containerProfile{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    padding: 0  ;
    margin: 50px 100px;
    font-family: 'Inter', sans-serif;
    color: #002A39;
}

.rightProfile{
    padding: 20px;
    /* background-color: #F4F1EB; */
}

.boxProfile{
    background-color: #fafafa;
    border-radius: 5px;
    padding: 10px;
}

.boxProfileContainer {
    border: 1px solid #d2e3da;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 2px 10px;
    margin: 5px;
}

.boxProfileContainer:hover{
    border: 1px solid #788aa3;
    border-radius: 5px;

}

.boxProfileContainer p {
    font-size: small;
    font-weight: 500;
    color: #002A39;
}

.boxProfileActive {
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 2px 10px;
    margin-bottom: 10px;
}

.boxProfileActive p {
    border-left: 3px solid #FFBB00 ;
    font-size: small;
    font-weight: 500;
    color: #002A39;
    margin: 5px;
}

@media(max-width:640px) {
    .containerProfile{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}