<<<<<<< HEAD
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #FFBB00;
    margin-top: 20px;
    height: 50px;


}

.filters{
    display: flex;
    flex-direction: row;
    max-width: 200px;
    margin-left: 20px;

}

.filters select{
 margin-left: 20px;
}
  
=======
.button {
    border-radius: 5px;
    margin: 5px;
}
>>>>>>> origin/pagination
