.container {
  max-height: 100vh;
}
.navLink {
  cursor: pointer;
  padding-bottom: 40px;
  padding-left: 20px;
  text-decoration: none;
}

.navLink:hover {
  color: blue;
}

.col {
  width: 300px;
}

.list {
  margin-top: 150px;
}

.image {
  width: 200px;
  margin-top: 50px;
  margin-left: 20px;
}
