.container{
    background-color: #fff;
    flex-direction: column;
    margin: 0;
    width: 100%;


}
.container1{
    background-color: var(--claro);

    margin-top: -35px;

}
.cardContainer{
    background-color: var(--claro);
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: auto;

}



h3{
    font-size: 30px;
    color: var(--azul);
    font-family: 'inter';
    text-align: center;
    font-weight: 700;

}

@media (max-width: 480px){

    .container{
        display: none;

    }

}

@media (max-width: 768px){

    .container{
        

    }

}