.container-not-found{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.text-not-found{
    font-weight: 600;
    color:#002A39;
}