.card {
    text-decoration: none;
    width: 400px;
    height: 450px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
    font-family: 'Poppins', sans-serif;
    margin: 20px;
}

.card-title {
text-decoration: none;
color: black;
padding: 10px 10px 0px 20px;
font-size: 15px;
}

a:link {
    text-decoration: none;
}

.card-image {
width: 100%;
height: 300px;
background-color: aquamarine;
}

.card-price {
    font-size: 20px;
    color: black;
    line-height: 0px;
    font-family: 'Poppins', sans-serif;
}

.card-score {
    width: 60px;
}