
.pp-container {
    max-width: 1300px;
    margin: 0 auto;
}

.pp-image {
    width: 600px;
}

.pp-price {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}

.pp-product-content {
 margin-top: 0px;
 margin-left: 50px;
 justify-content: left;
 max-width: 500px;
}

.pp-title {
    font-size: 30px;
    font-family: 'Inter', sans-serif;}

.pp-description {
    margin-top: 50px;
    font-family: 'Inter', sans-serif;
}

.pp-type {
    font-family: 'Inter', sans-serif;
}

.pp-brand {
    font-family: 'Inter', sans-serif;
}

.pp-button {
width: 200px;
height: 60px;
background: #74C8DB;
border-radius: 20px;
font-size: 15px;
flex: none;
order: 1;
flex-grow: 0;
font-family: 'Inter', sans-serif;
font-size: 18px;
}

@media screen and (min-width: 900px) {
.pp-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat;
}    

.card-wrapper {
    height: 500px;
    display: flex;
}

.pp-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

}